/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/*
    Colores principales: black, #AE3335
    Colores de fondo: #FFE5E5, #F5F6F6
*/

/* Cuerpo principal */
body{
    width: 100vw;
    max-width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

/* Encabezado y elementos del mismo */
header{
    position: sticky;
    top: 0;
    background-color: black;
    padding: 25px;
    height: 10%;
    display: flex;
    z-index: 2;
}

header nav{
    display: inline-block;
    width: 100%;
}

.navbar-dark{
    background-color: black !important;
}

.agrupadorMenu{
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 0;
}

header nav li{
    text-align: center;
    display: inline-block;
    font-size: 18px;
    width: 10%;
    text-align: center;
    flex-grow: 2;
}

.logoPrincipalHeader{
    width: 3.5rem;
    height: 3.5rem;
}

/* Pie de página y elementos del mismo*/
footer{
    background-color: black;
    padding: 25px;
    position: relative;
    bottom: 0;
    left: 0;
    height: 10%;
    /* Agregado para el desafío complementario */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer p{
    color: white;
    font-size: medium;
}

/* Seccion de redes sociales */
.seccionRedesSociales{
    display: flex;
    flex-direction: column;
}

.seccionRedesSociales img{
    width: 2rem;
    height: 2rem;
}

.tituloSeccionFooter{
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

.seccionRedesSociales p{
    font-size: 14px;
    margin-bottom: 0;
}

/* Sección de contacto del footer */
.seccionContactoFooter p{
    font-size: 14px;
    margin-bottom: 0;
}

/* Principal */
main{
    padding: 25px;
    background-color: white;
    min-height: 400px;
}

a{
    text-decoration: none;
}

/* Estilo del párrafo */
p {
    color: rgb(17, 17, 17);
}

/* Estilo de los titulos */
h1, h2, h3, h4, h5, h6 {
    color: #AE3335;
    text-align: center;
}

/* Encabezado de tabla */
th {
    background-color:#AE3335;
    border: 1px solid;
    color: white;
}

/* Elemento de la lista */
li{
    color: black;
    list-style-type: none;
}

/* Elemento de la lista ordenada */
ol li{
    color: black;
}

/* Sección de formulario de contacto */
.seccionFormulario{
    background-color: #FFE5E5;
    border-radius: 2rem;
    padding: 1.1rem;
}

/* Artículo principal */
.articuloPrincipal{
    background-color: #FFE5E5;
    border-radius: 2rem;
    padding: 1.1rem;
}

.parrafoPrincipal{
    color: black;
    font-size: large;
}

.articuloConAccordion{
    width: 100%;
    margin-top: 15px;
}

.accordion-button{
    font-weight: bold;
}

.accordion-button:not(.collapsed){
    background-color: #AE3335;
    color: #FFE5E5;
    font-weight: bold;
}

.accordion-button:focus{
    border-color: #FFE5E5;
    box-shadow: 0 0 0.25rem rgb(255, 229, 229/25%);
}

.accordion-body{
    font-size: small;
}

/* Artículo secundario */
.articuloSecundario{
    background-color: #F5F6F6;
    border-radius: 2rem;
    padding: 1.1rem;
}

.articuloSecundario h1, h4{
    color:black;
}

.parrafoSecundario{
    color: black;
    font-size: large;
}

/* Estilo de los navegadores */
header nav li, a{
    color: white;
    display: inline-block;
}

/* Estilo de los items de lista (ropa y marcas de zapatillas)*/
.listaProductos li{
    font-weight: normal;
    list-style-type: square;
    list-style-position: inside;
}

/* Estilos de la parte de la seccion de imagenes */
.seccionImagenes{
    padding: 0.1rem;
}

.seccionImagenes section{
    background-color: #FFE5E5;
    border-radius: 2rem;
    margin: 0.5rem;
    padding: 1.1rem;
}

.seccionImagenes section .imagenPrincipal{
    width: 100%;
    height: auto;
}

.seccionImagenes section h4{
    color: #AE3335;
    margin: 0;
    text-align: left;
    font-weight: bolder;
}

/* Datos de Contacto */
.seccionDatosContacto h4{
    text-align: left;
}

.importante{
    margin: 15px 0 0 0;   
}

/* Acotación en un parrafo */
.aclaracion{
    font-size: small;
}

/* Seccion de videos */
.seccionVideos{
    width: auto;
    max-width: 100%;
}

.seccionVideos iframe{
    width: 100%;
}

/* Icono de Whatsapp */
.fondoIconoWhatsapp{
    background-color: #25d366; 
    padding: 0.25rem; 
    border-radius: 3rem; 
    position: fixed;
    z-index: 2;
    right: 1.875rem;
    bottom: 1.875rem;
}

.fondoIconoWhatsapp img{
    height: 3rem; 
    width: 3rem;
}

.icono{
    width: 0.875rem;
    height: 0.875rem;
}

/* Estilos del form */
form{
    width: 100%;
}

.contenedorGrupoFormulario{
    display: flex;
    flex-direction: row;
}

.contenedorGrupoFormulario .etiqueta{
    width: 40%;
    font-size: 16px;
}

.contenedorGrupoFormulario .input{
    width: 60%;
}

.contenedorGrupoFormulario .input input, select, textarea{
    width: 100%;
}

.botonTipoInput{
    width: 100%;
    background-color: #AE3335;
    /*color: white;
    height: 30px;*/
}

.botonTipoInput:hover{
    background-color: #FFE5E5;
    color: #AE3335;
}

#seccion1{
    grid-area: seccion1;
}

#seccion2{
    grid-area: seccion2;
}

#seccion3{
    grid-area: seccion3;
}

#seccion4{
    grid-area: seccion4;
}

#seccion5{
    grid-area: seccion5;
}

#seccion6{
    grid-area: seccion6;
}

#seccion7{
    grid-area: seccion7;
}

#seccion8{
    grid-area: seccion8;
}


/* Media queries */
@media only screen and (max-width: 600px){
    /*.seccionImagenes{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:    "seccion1"
                                "seccion2"
                                "seccion3"
                                "seccion4"
                                "seccion5"
                                "seccion6"
                                "seccion7"
                                "seccion8";
        row-gap: 15px;
    }*/

    #seccionIndumentaria{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:    "seccion1"
                                "seccion2"
                                "seccion3"
                                "seccion4"
                                "seccion5"
                                "seccion6";
        row-gap: 15px;
    }

    #seccionCalzado{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:    "seccion1"
                                "seccion2"
                                "seccion3"
                                "seccion4"
                                "seccion5"
                                "seccion6"
                                "seccion7"
                                "seccion8";
        row-gap: 15px;
    }

    #seccionSucursales{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:    "seccion1"
                                "seccion2"
                                "seccion3"
                                "seccion4";
        row-gap: 15px;
    }

    .seccionImagenes section{
        background-color: #FFE5E5;
        border-radius: 2rem;
        /*margin: 0.5rem 0 0.5rem 0;*/
        padding: 1.1rem;
    }

    header nav ul{
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }

    .mainHome{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas:    "video"
                                "articulo1"
                                "articulo2";
        row-gap: 10px;
    }

    #video{
        grid-area: video;
    }

    #articulo1{
        grid-area: articulo1;
    }

    #articulo2{
        grid-area: articulo2;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .seccionFooter{
        margin: 0.5rem 0 0.5rem 0
    }

    .seccionContacto{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .seccionDatosContacto{
        width: auto;
    }

    .seccionFormulario{
        margin: 0 0 15px 0;
    }

    /* Grupo formulario */
    .contenedorGrupoFormulario{
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .contenedorGrupoFormulario .etiqueta{
        width: 100%;
        font-size: small;
    }
    
    .contenedorGrupoFormulario .input{
        width: 100%;
    }

    .seccionImagenes section{
        margin: 0.5rem 0 0.5rem 0;
    }

    /* Contenedores que se encuentran dentro del formulario */
    .contenedorBotones{
        display: flex;
        flex-direction: row;
    }

    .contenedorCheckBox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    
}

@media only screen and (min-width: 600px){
    #seccionIndumentaria{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:    "seccion1"
                                "seccion2"
                                "seccion3"
                                "seccion4"
                                "seccion5"
                                "seccion6";
        row-gap: 15px;
    }

    #seccionCalzado{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:    "seccion1"
                                "seccion2"
                                "seccion3"
                                "seccion4"
                                "seccion5"
                                "seccion6"
                                "seccion7"
                                "seccion8";
        row-gap: 15px;
    }

    #seccionSucursales{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:    "seccion1"
                                "seccion2"
                                "seccion3"
                                "seccion4";
        row-gap: 15px;
    }

    header nav ul{
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }

    .mainHome{
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas:    "video"
                                "articulo1"
                                "articulo2";
        row-gap: 15px;
    }

    #video{
        grid-area: video;
    }

    #articulo1{
        grid-area: articulo1;
    }

    #articulo2{
        grid-area: articulo2;
    }

    .seccionContacto{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .seccionDatosContacto{
        max-width: 100%;
        width: auto;
    }

    .seccionFormulario{
        margin: 0 0 15px 0;
    }
}

@media only screen and (min-width: 992px){
    #seccionIndumentaria{
        display: grid;
        height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:    "seccion1 seccion2"
                                "seccion3 seccion4"
                                "seccion5 seccion6";
        row-gap: 15px;
    }

    #seccionCalzado{
        display: grid;
        height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:    "seccion1 seccion2"
                                "seccion3 seccion4"
                                "seccion5 seccion6"
                                "seccion7 seccion8";
        row-gap: 15px;
    }

    #seccionSucursales{
        display: grid;
        height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:    "seccion1 seccion2"
                                "seccion3 seccion4";
        row-gap: 15px;
    }

    header nav ul{
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }

    .mainHome{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:    "video video"
                                "articulo1 articulo2";
        column-gap: 15px;
        row-gap: 15px;
    }

    #video{
        grid-area: video;
    }

    #articulo1{
        grid-area: articulo1;
    }

    #articulo2{
        grid-area: articulo2;
    }

    .seccionContacto{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
    
    .seccionDatosContacto{
        width: 48%;
    }

    .seccionFormulario{
        margin: 0 15px 0 0;
    }
}