$paddingGeneral: 1.56rem;
$paddingSecciones: 0.9rem;
$paddingHeader: 0.5rem;
$paddingFormulario: 0.625rem;
$paddingIconoWhatsapp: 1.875rem;

$radioEsquinas: 2rem;
$paddingInterno: 1.1rem;

$escalaHover: 1.04;
$transicionHover: 1.2s;

$tamanioParrafoArticulo: 1rem;

$tamanioIcono: 0.875rem;
$tamanioParrafo: 0.875rem;
$tamanioTituloFormulario: 1rem;
$tamanioTituloFormularioResponsive: 0.85rem;
$tamanioTituloNav: 1.125rem;

$tamanioParrafoPiePagina: 0.9rem;

$medidaIconoWhatsapp: 3.5rem;
$medidaIconoRedesSociales: 2rem;
$medidaMinimaMapa: 28rem;
$alturaArticuloSeccionPrincipal: 16rem;